/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin: auto;
    background-color: #fff;
}

.container .header {
    padding: 20px;
    background-color: cyan;
    border-bottom: 3px solid black;
}

.container .header .judul {
    margin-bottom: 15px;
}

.container .header .judul a {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.container .header .judul a:hover {
    text-decoration: none;
    font-style: italic;
}

.container .header nav a {
    font-size: 15px;
    margin-right: 5px;
    color: black;
    text-decoration: none;
}

.container .header nav a:hover {
    padding: 5px;
    color: cyan;
    background-color: black;
    border-radius: 5px;
}

.main .content {
    width: 600px;
    box-sizing: border-box;
    float: left;
    padding: 20px;
}

.main .content .sambutan {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main .content p {
    font: 15px/18px sans-serif;
}



.side {
    width: 250px;
    padding: 20px;
    float: right;
}

.side .saya {
    font-size: 20px;
    font-weight: bold;
}

.side img {
    float: left;
}

.side p {
    margin-top: 20px;
    font: 15px/18px sans-serif;
}

.footer {
    border-top: 3px solid cyan;
    padding: 20px;
    background-color: #333;
}

.footer p {
    font-size: 15px;
    text-align: center;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@media only screen and (max-width:600px) {
    body, .container, .container .header, .container .header .judul, .container .header .judul a, .container .header nav a,  .main .content, .main .content .sambutan, .main .content p, .side, .side .saya, .side img, .side p, .footer, .footer p{
        width:auto;
    } 

}
